<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码云社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">码云社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" action="/search" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">java编程资料</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}"><a href="https://github.com/login/oauth/authorize?client_id=9e6181345b7f5e373266&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a></li>
                <li th:if="${session.user!=null}"><a href="/publish">发表问题</a></li>
                <li th:if="${session.user!=null}"><a href="/message">通知<span class="badge" th:text="${session.messageCount}"></span></a></li>
                <li th:if="${session.user!=null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.name}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/aboutMe">个人中心</a></li>
                        <li><a href="/loginOut">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid publish-content">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <div style="font-size: 12px;font-weight: normal;color: #999;">
                       作者:<span th:text="${question.userModel.name}"></span>|
                       发布时间:<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd')}"></span>|
                       阅读数:<span th:text="${question.viewCount}"></span>
                    </div>
                </div>
            </div>
            <hr>
           <div style="weight:100%;height:400px" th:utext="${question.description}">

           </div>
            <hr>
            <div style="weight:100%;height:30px">
                <span class="question-tag" th:each="tag:${question.tags}">
                    <a href="#" class="community-tag" th:text="${tag.content}"></a>
                </span>
            </div>
            <hr>
            <hr>
            <h3><span th:text="${question.commentCount}"></span>个回复</h3>
            <hr>
            <div th:each="reply:${question.replies}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" th:src="${reply.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" th:text="${reply.user.name}"></h3>
                        <div th:text="${reply.content}"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span data-id="3163" onclick="collapse(this)" class="comment-icon hover-change" data-collapse="in">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${reply.subReplyNumbers}"></span>
                                </span>
                            <span class="pull-right" th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments in" style="display:none" id="comment-3163">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="subReply:${reply.subReplyList}">
                            <div class="media">
                                <div class="media-left"><img class="media-object img-rounded" th:src="${subReply.user.avatarUrl}"></div>
                                <div class="media-body"><h5 class="media-heading" th:text="${subReply.user.name}"></h5><div th:text="${subReply.content}"></div>
                                    <div class="menu">
                                    <span class="pull-right" th:text="${#dates.format(subReply.gmtCreate, 'yyyy-MM-dd')}"></span>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form action="/subReply" method="post">
                                <input type="hidden" name="replyId" th:value="${reply.id}">
                                <input type="hidden" name="questionId" th:value="${question.id}">
                                <input type="hidden" name="beReplied" th:value="${reply.user.accountId}">
                                <input type="text" name="content" class="form-control" placeholder="评论一下……">
                                <br>
                                <button type="submit" class="btn btn-success pull-right" data-id="3163">评论
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <h3>提交回复</h3>
            <hr>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img th:if="${session.user!=null}" class="media-object" th:src="${session.user.avatarUrl}">
                        <img th:if="${session.user==null}" class="media-object" src="/img/default-avatar.png">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <span th:if="${session.user!=null}" th:text="${session.user.name}"></span>
                    <span th:if="${session.user==null}">匿名用户</span>
                </div>
                <br>
                <form action="/reply" method="post">
                    <input type="hidden" name="questionId" th:value="${session.id}">
                    <input type="hidden" name="beReplied" th:value="${question.userModel.accountId}"/>
                <div class="form-group">
                    <textarea  class="form-control" name="content" style="height:150px"></textarea>.
                </div>
                    <div class="container-fluid publish-content">
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-danger" role="alert" th:if="${errors!=null}" th:text="${errors}">...</div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn btn-success" style="margin-bottom:30px;float:right">回复</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
var error = /*[[${error}]]*/;
if(error!=null){
alert(error);
}
/*]]>*/
</script>
<script type="text/javascript">
    function collapse(element){
    var target=element.parentNode.parentNode.nextSibling.nextSibling;
    if(target.style.display=="none"){
    target.style.display="block";
    element.classList.add("active");
    }else{
    target.style.display="none";
    element.classList.remove("active");
    }
    }

</script>
</body>
</html>